# Streamlit for the web app
streamlit==1.26.1

# Yahoo Finance API
yfinance==0.2.27

# Data processing
pandas==2.0.3
numpy==1.25.2

# Machine learning
scikit-learn==1.2.2  # prebuilt wheel exists for Python 3.13

# Plotting
matplotlib==3.8.1

# Image support
pillow==9.4.0
